@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Board */
  --grid-cell-size: 32;
  --grid-cell-size-opponent: 16;
  --grid-rows: 13;
  --grid-cols: 6;

  /* Misc */
  --border-radius: 0.25rem;
}

@layer base {
  html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }

  // a,
  .towers-link {
    @apply text-blue-600 underline hover:text-blue-800 visited:text-purple-600;
  }
}

*,
*::before,
*::after {
  @apply p-0 m-0 box-border;
}

html,
body {
  @apply h-full;
}

body {
  @apply overflow-x-hidden bg-gray-100 text-base tabular-nums;
}

::-webkit-scrollbar {
  @apply w-3;
}

::-webkit-scrollbar-track {
  image-rendering: pixelated;

  @apply bg-[url("/images/scrollbar-track.png")] bg-repeat;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-300;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-400;
}

::selection {
  @apply bg-slate-400 text-white;
}

dialog::backdrop {
  @apply bg-black opacity-25;
}

.small-screen-warning {
  @apply flex;
}

@media (min-width: 1350px) and (min-height: 768px) {
  .small-screen-warning {
    @apply hidden;
  }
}
