@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Board */
  --grid-cell-size: 32;
  --grid-cell-size-opponent: 16;
  --grid-rows: 13;
  --grid-cols: 6;

  /* Misc */
  --border-radius: 0.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  background-color: #f0f0f0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-variant: tabular-nums;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: url("/images/scrollbar-track.png") repeat;
  image-rendering: pixelated;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

dialog::backdrop {
  background: rgb(0 0 0 / 25%);
}

.small-screen-warning {
  display: flex;
}

@media (min-width: 1350px) and (min-height: 768px) {
  .small-screen-warning {
    display: none;
  }
}

@layer base {
  // a,
  .towers-link {
    @apply text-blue-600 underline hover:text-blue-800 visited:text-purple-600;
  }
}
